.container {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 24, 39, 0.8);
}

.modal-container {
    background-color: #374151;
    height: 30vh;
    width: 30%;
    border-radius: 15px;
    position: relative;
}

.exit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit:hover {
    color: white;
}

.background {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #B9C1CF;
    opacity: 0;
    position: absolute;
    padding: 1rem;
}
.background:hover {
    opacity: 0.3;   
}
.exit:hover .x {
    color: white;
}

.x {
    color: #B9C1CF;
}