.container {
    height: 10vh;
    background-color: #12131e; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}


.left {
    display: flex;
    align-items: center;
    width: 33%;
}

.middle {
    width: 33%;
    display: flex;
    justify-content: center;
}

.right {
    width: 33%;
    display: flex;
    justify-content: right;
}

.title {
    font-size: 36px;
    font-weight: 400;
    padding-left: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: #A7B2FF;

}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    color: #A7B2FF;
    margin: 1.5rem;
}

.app-button {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A7B2FF;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
}