.container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0.5rem;
}

.time-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.activated {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.label {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 16px;
    color: #9ca3af;
}

.underline {
    height: 0.1rem;
    width: 100%;
    background-color: #A7B2FF;
    margin-top: 0.5rem;
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        position: inherit;
        display: flex;
        justify-content: center;
        margin: 1rem;
        right: 0;
    }
}