.container {
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 12rem;
}